.menu {
    width: 42em;
}

#wrapper .col-6 a {
    text-decoration: inherit;
    color: inherit;
}

#wrapper .col-6 .card,
#wrapper .col-6 .card * {
    transition: all 0.5s;
}

#wrapper .col-6 .card:hover {
    border-width: 0.1em;
    border-top-left-radius: 1.35em;
    border-bottom-right-radius: 1.35em;
    box-shadow: 0.12em 0.12em rgb(133, 133, 133);
    cursor: pointer;
}

#wrapper .col-6 .card .icon {
    font-size: 1.5em;
}

#wrapper .col-6 .card:hover .icon {
    font-size: 2em;
    color: rgb(128, 89, 201);
}

#wrapper .col-6 .card:hover .package {
    font-weight: bold;
}

#wrapper .col-6 .card:hover img {
    border-top-left-radius: 1.3em;
}

#wrapper .col-6 .card:hover .card-body {
    border-bottom-right-radius: 1.3em;
}

#wrapper .col-6 .card .card-body {
    background-color: antiquewhite;
}

/*
Below will be the styles for the injection
*/

#popout,
#toggle {
    position: fixed;
    transition: all 2s;
}

#info {
    z-index: 1000;
}

#toggle {
    bottom: 1em;
    right: 1em;
    display: grid;
    grid-template-columns: minmax(min-content, 10em) minmax(min-content, 3em);
    grid-template-areas: "detail";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 177, 19);
    z-index: 500;
    border-bottom-left-radius: 0.7em;
    border-top-left-radius: 0.7em;
}

#toggle:hover {
    background-color: rgb(255, 85, 85);
}

#toggle:hover .highlight {
    font-size: 1.15em;
    color: rgb(194, 197, 199);
}

#toggle * {
    transition: all 0.3s;
    vertical-align: middle;
    padding: 0.2em;
    color: white;
}

.detail {
    grid-area: detail;
}

#info {
    position: fixed;
    border: 0.1em solid black;
    padding: 0.3em;
    width: 1em;
    height: 1em;
    bottom: 3em;
    right: 0;
    background-color: #4ebbb5;
    color: white;
    font-size: 1.2rem;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 10px #719ECE;
    transition-property: transform;
    transition-duration: 1s;
}

#info:hover {
    cursor: pointer;
    background-color: #105372;
    border: 1px solid #2E3A46;
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

input[type=checkbox]#popout {
    display: none;
}
#popout ~ #toggle {
    margin-right: -100%;
}

.slider:hover #popout ~ #toggle {
    margin-right: 0;
}

.slider .clear * {
    text-decoration: initial;
    color: initial;
}