.menu {
    width: 42em;
}

#wrapper .col-6 a {
    text-decoration: inherit;
    color: inherit;
}

#wrapper .col-6 .card,
#wrapper .col-6 .card * {
    transition: all 0.5s;
}

#wrapper .col-6 .card:hover {
    border-width: 0.1em;
    border-top-left-radius: 1.35em;
    border-bottom-right-radius: 1.35em;
    box-shadow: 0.12em 0.12em rgb(133, 133, 133);
    cursor: pointer;
}

#wrapper .col-6 .card .icon {
    font-size: 1.5em;
}

#wrapper .col-6 .card:hover .icon {
    font-size: 2em;
    color: rgb(128, 89, 201);
}

#wrapper .col-6 .card:hover .package {
    font-weight: bold;
}

#wrapper .col-6 .card:hover img {
    border-top-left-radius: 1.3em;
}

#wrapper .col-6 .card:hover .card-body {
    border-bottom-right-radius: 1.3em;
}

#wrapper .col-6 .card .card-body {
    background-color: antiquewhite;
}

/*
Below will be the styles for the injection
*/

#popout,
#toggle {
    position: fixed;
    z-index: 1000;
    transition: all 0.5s;
}

#toggle {
    bottom: 3em;
    right: 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "detail logo"
}

.detail {
    grid-area: detail;
    background-color: blueviolet;
}

.logo {
    grid-area: logo;
    background-color: aquamarine;
}

#info {
    position: fixed;
    border: 0.1em solid black;
    padding: 0.3em;
    bottom: 1em;
    right: 1em;background-color: #4ebbb5;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
}

#info:hover {
    cursor: pointer;
    background-color: #105372;
    border: 1px solid #2E3A46;
    box-shadow: 0 0 10px #719ECE;
}

input[type=checkbox]#popout {
    display: none;
}
#popout ~ #toggle {
    margin-right: -100%;
}

#popout:checked ~ #toggle {
    margin-right: 0;
}